@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --color-text: rgb(136, 146, 176);
  --color-text-secondary: rgb(204, 214, 246);
  --color-background: rgb(10, 25, 47);
  --color-button-background: rgb(23, 42, 69);
  --color-hover: rgb(28, 51, 83);
  --color-line: rgb(48, 60, 85);
  --color-button-highlight: #64ffda;
  --color-drag-over: var(--color-button-background);
  --box-shadow: rgb(2, 10, 22);
}

.light {
  --color-text: rgb(10, 25, 47);
  --color-text-secondary: rgb(10, 25, 47);
  --color-background: #f6f9fc;
  --color-button-background: #f6f9fc;
  --color-hover: rgb(28, 51, 83);
  --color-line: rgb(136, 146, 176);
  --color-button-highlight: rgb(10, 25, 47);
  --color-drag-over: rgb(223, 230, 255);
  --box-shadow: rgb(10, 25, 47);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.4;
  font-family: "Share Tech Mono", sans-serif;
}

img {
  max-width: 100%;
  fill: currentColor;
}

.header {
  top: 0;
  left: 0;
  height: 5em;
  display: flex;
  box-shadow: 0 0 7px var(--box-shadow);
}

.header .nav--left {
  border: 2px solid var(--color-button-highlight);
  padding: 0.6em;
  color: var(--color-button-highlight);
}
.no {
  text-transform: uppercase;
  text-decoration: line-through;
}
.header--nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-button-background);
  color: var(--color-text);
  padding: 0.6em 0.8em;
  border: none;
  border-radius: 100em;
  box-shadow: 0 3px px var(--box-shadow);
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  cursor: pointer;
  outline: none;
}

.header--nav button:hover {
  background-color: var(--color-hover);
}

.header--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 0.8em;
}

.header--nav .nav--right {
  display: flex;
  justify-content: center;
}

.light .header--nav button {
  background-color: var(--color-text);
  color: var(--color-background);
}

.light .header--nav button:hover {
  background-color: var(--color-hover);
}

.img--clear {
  margin-right: 0.2em;
  padding-bottom: 0.2em;
}

.button--light--mode {
  margin-left: 1em;
}

/* .header--nav .button--light--mode {
  transition: all 0.25s 0s;
}
.header--nav .button--light--mode:hover {
  transform: rotate(45deg);
} */

.main--content {
  margin: 1.4em auto;
  max-width: 1024px;
}

.list--content--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.list--content--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 0;
}
.list--title {
  font-size: 3.6em;
  font-weight: 300;
  text-align: center;
}

.list--title--line {
  content: "";
  display: block;
  background-color: var(--color-line);
  width: 30%;
  height: 1px;
  margin: 0.2em 0;
}
.list--task--count {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.6em 0;
}

.list--title--edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 105px;
  background-color: var(--color-background);
  color: var(--color-button-highlight);
  border: 1px solid;
  border-color: var(--color-button-highlight);
  border-radius: 2px;
  padding: 0.6em 0;
  margin: 0.6em 0;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.light .list--title--edit {
  background-color: var(--color-text);
  color: var(--color-background);
  box-shadow: 0 3px 6px var(--box-shadow);
}
.list--title--edit:hover {
  background-color: var(--color-hover);
}
.list--content--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em 0;
}

.list--title--modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* animation-name: showmodal;
  animation-duration: 0.4s; */
  justify-content: center;
  align-items: center;
}

.modal--content {
  background-color: var(--color-background);
  /* width: 40%;
  height: 50%; */
  margin: 10% auto;
  min-width: 300px;
  min-height: 250px;
  padding: 0.6em 1em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 1px 5px rgb(2, 10, 22);
  animation-name: showmodal;
  animation-duration: 0.3s;
}

.close--modal {
  background-color: var(--color-background);
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.modal--list--title {
  font-size: 1.4rem;
  margin-bottom: 0.8em;
  align-self: center;
  text-align: center;
}

.title--input {
  background-color: var(--color-background);
  border: 1px solid;
  border-color: var(--color-button-highlight);
  padding: 0.4em;
  width: 90%;
  color: var(--color-text);
  font-size: 1rem;
}

.modal--confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 100px;
  background-color: var(--color-background);
  color: var(--color-button-highlight);
  border: 1px solid;
  border-color: var(--color-button-highlight);
  border-radius: 2px;
  padding: 0.6em 0;
  margin: 2em 0 2em 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.light .modal--confirm {
  background-color: var(--color-text);
  color: var(--color-background);
}

.light .modal--confirm:hover {
  background-color: var(--color-hover);
}

.list--item {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: var(--color-line);
  padding: 0.6em 0.4em 0.6em 0;
}

.list--item.over {
  background-color: var(--color-drag-over);
}

.list--item .icon--drag {
  cursor: grab;
}
.list--item--checkbox {
  background-color: inherit;
  border: none;
  display: flex;
  cursor: pointer;
}
.list--item--name {
  background-color: inherit;
  border: none;
  width: 90%;
  color: var(--color-text);
  padding: 0.2em 0.6em;
  font-size: 1.2em;
}

.list--item.checked .list--item--name {
  color: rgb(91, 100, 128);
  text-decoration: line-through;
}
.list--item--remove {
  background-color: inherit;
  border: none;
  display: flex;
  cursor: pointer;
}

.list--item--add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 105px;
  background-color: var(--color-background);
  color: var(--color-button-highlight);
  border: 1px solid;
  border-color: var(--color-button-highlight);
  border-radius: 2px;
  padding: 0.6em 0;
  margin: 4em 0 2em 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.light .list--item--add {
  background-color: var(--color-text);
  color: var(--color-background);
  box-shadow: 0 3px 6px var(--box-shadow);
}

.list--item--add:hover {
  background-color: var(--color-hover);
}

@keyframes showmodal {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .logo {
    max-width: 80%;
  }
  .list--title {
    font-size: 2rem;
  }

  .list--task--count {
    font-size: 1.2rem;
  }
}
